#form{
    width: 40%;
    padding: 10px;
}
#lable{
    text-align: left;
}
table{
    text-align: center;
}
#navbarNav{
    position: relative;
    left: 800px;
    
}

#topbtn{
    margin-right: 40px;
    font-size: larger;
}

#img{
    width: 15px;
    height: 15px;
}
/* Add this CSS to your stylesheet */
.hover-data {
    
    position: absolute;
    top: 100%; /* Position it just below the button */
    left: 0;
    right: 5px;
    background-color: #fff; /* Background color for the hover data */
    border: 1px solid #ccc; /* Border for the hover data */
    padding: 10px; /* Padding for the hover data */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional shadow for better visibility */
    z-index: 1000; /*Ensure it is above other elements*/
    width: max-content;
  }
  